<div class="authform">
    <%= form_with(model: user, local: true, url: registrations_path) do |f| %>
        <h3 class="signup-header">Sign up</h3>

        <% if user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
            
        <div class="signup-button-item">
          <%= f.submit 'Sign up', :class => 'button center' %>
        </div>
    <% end %>
</div>