<div class="singup-container">
  <div class="authform-group-signup">
    <h3 class="signup-header">
      <%= "Welcome to visit Freech and join into our group" %>
    </h3>
    <div class="form-group">
      <%= "Please login with your email: #{@user.email}, and enter #{@group.name} group." %>
      <div class=""></div>
        <%= link_to 'Sing up and Join into Group', group_registration_path(@group)  %>
      </div>
    </div>
  </div>
</div>