<div class="singup-container">
  <div class="authform">
    <form>
      <h3 class="signup-header">Welcome to visit Freech</h3>
      <div class="form-group">
        <%= "Please login with your email: #{@user.email}" %>
        <div class="">
          <%= link_to 'Sing up', register_path %>
        </div>
      </div>
    </form>
  </div>
</div>