/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-window {
  margin-top: 80px;
}

.contianer_fluid {
  width: 900%;
  max-width: 100%;
}

.authform-wide {
  padding-top: 0px;
  min-width: 320px;
  max-width: 70%;
  margin: 0 auto;
}

.authform-fieldset {
  margin-top: 1rem;
}

.authform-fieldset-last {
  margin-bottom: 1rem;
}

.form-group-custom {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

