.singup-container {
  margin-left: auto;
  margin-right: auto;
  //margin-top: 50px;
  //text-align: center;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 540px;
  }
  @media (min-width: 992px) {
    max-width: 540px;
  }
  @media (min-width: 1200px) {
    max-width: 540px;
  }
}

.signup-header {
  text-align: center;
}

.signup-button-item {
  text-align: center;
}

.authform form {

  padding: 20px;
}
.authform {
  //padding-top: 30px;
  height: 551px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: contents;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex: 0 0 75%;
  max-width: 100%;
  background-color: #f8f9fa !important;
  padding: 20px;
}

.authform-group-signup {
  height: 640px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: contents;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex: 0 0 75%;
  max-width: 100%;
  background-color: #f8f9fa !important;
  padding: 20px;
}

.authform form, .authform fieldset {
  height: 551px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  flex: 0 0 75%;
  max-width: 100%;
  background-color: #f8f9fa !important;
}

.authform-group-signup form, .authform-group-signup fieldset {
  height: 640px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  flex: 0 0 75%;
  max-width: 100%;
  background-color: #f8f9fa !important;
  padding: 20px;
}

.authform .right {
  float: right !important;
}

.btn-primary, .submit, .authform .button, .button-xs {
  color: #fff;
  background-color: #007bff;
  //border-color: #007bff;
  font-family: inherit;
  //padding: 5px 15px 5px 15px;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #2262d0;
}


